/* ///// SETUP ///// */
*,
*::after,
*::before {
  /* Enleve les marges par defaut de tout les elements */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Change la taille de police par defaut de 16px pour => 10px, pour ensuite utilier
     une unite relative "rem", 1rem = 10px
  */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; /* = 16px */
  font-family: Arial, sans-serif;
}

main {
  background-image: url("../img/background.png");
}

.row {
  width: 90%;
  max-width: 114rem;
  margin: 0 auto;
}

/*///// TYPO ////*/

.cursive-font-style {
  font-family: "Courgette", cursive;
}

p {
  color: #333;
}

/*/// UTILITIES ///*/

.mar-bottom {
  margin-bottom: 1.6rem;
}

/*//// Nav-bar /////*/
.navbar {
  color: #fff;
  background-color: #C55394;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__link:link,
.navbar__link:visited {
  color: #fff;
  text-decoration: none;
}

.navbar__brand #brand-text {
  font-size: 2.4rem;
  display: block;
  width: max-content;
}

.navbar__link {
  list-style: none;
}

.navbar__list {
  text-align: right;
}

.navbar__list-item {
  display: inline-block;
}

.navbar__list-item .navbar__link {
  display: block;
  padding: 2.6rem;
  transition: background-color .3s; /* Pour que l'animation vient doucememt */
}

.navbar__list-item .navbar__link:hover {
  background-color: #EB43A3;
}

.active { /* Pour les liens actif*/
  background-color: #EB43A3;
}

/*//// Heading ////*/

.hero-text-box {
  text-align: center;
  margin-top: 4rem;
}

.headings, .icon {
  color: #EB43A3;
}

.icon {
  margin-right: 1.2rem;
}

.heading-primary {
  color: #C55394;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  padding: 8rem 10rem;
  background-image: url("../img/rainbow.png");
  background-size: cover;
}

/*//// Section principe //// */

.main-content > .row {
  background-color: #fff;
  padding: clamp(2rem, 2.5%, 4rem);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
}

.headings-box {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.paragraph-box {
  line-height: 150%;
}

/*/// Licornes-section ////*/

#unicorn-section {
  margin-top: 5.6rem;
}

.unicorn-showcases {
  display: grid;
  /* les codes en bas fait en sorte que les images de licornes rendent bien sur tout les tqilles d'ecran */
  grid-template-columns: repeat(auto-fill, minmax(14rem, 24%));
  grid-row-gap: 2rem;
  margin-bottom: 3.2rem;
  justify-content: space-between;
}

.unicorn-images {
  width: 100%;
  transition: transform .3s;
  cursor: pointer;
}

.unicorn-images:hover {
  transform: scale(1.1);
}

figure {
  overflow: hidden;
  position: relative;
}

figcaption {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  bottom: .05rem;
  padding: 1.2rem;
}

/* //// Place section //// */

#section-place {
  margin-top: 5.6rem;
}

.place-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
  justify-content: center;
  grid-column-gap: 2rem;
}

.contact {
  margin-top: 4.6rem;
}

.newsletter {
  margin-top: 2.4rem;
}

#newsletter-subscription-input {
  display: block;
  height: 3.8rem;
  width: 80%;
  border: solid 1px #c1c1c1;
  padding: 0 1rem;
  margin: 1.6rem 0;
}

/* Enleve la bordure noir quand on clique dessus */
#newsletter-subscription-input:focus {
  outline: none;
}

.primary-button {
  height: 3.8rem;
  padding: 0 2.4rem;
  background-color: #C55394;
  border: none;
  color: #fff;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .3s;
}

.primary-button:hover {
  background-color: #EB43A3;
}

footer {
  font-size: 1.4rem;
  margin-top: 5.6rem;
  padding: 2rem .8rem;
  color: #fff;
  text-align: right;
  background-color: #C55394;
}

iframe {
  width: 600rem;
  max-width: 100%;
}


